.navbar{
    position:sticky;
    top: 0;
    height:50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
    margin-left: 10px;
    font-weight: 500;
    font-size: larger;
}

.navButton{
    margin-right: 10px;
    margin-left: 15px;
    border:none;
    padding:5px 10px;
    min-width:60px;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
    color:#003580;
    cursor: pointer;
    font-weight: 700;
}
.navButton:hover{
    transform: scale(1.05);
    background-color: gold;
    color:white;
    font-size: 0.9rem;
}
